body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(92, 51, 23);
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoPrincipal {
	width: 130px;
	height: 100px;
//	margin-right: 60%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

.section {
  margin-bottom: 20px;
}

.section h2 {
  font-size: 1.5rem;
  color: #333;
}

.divHome {
	display: flex;
	flex-direction: column;
	margin: 10 10 10 10;
}

.divHome img {
	width: 400px;
	height: 300px;
	margin: 10 10 10 10;
}

.divHome input {
	width: 250px;
	padding: 10px;
	margin: 10 10 10 10;
}

.divlistaXicaras {
	display: none; /* Inicialmente oculta */
}

.buttonFazerPedido {
	background-color: rgb(92, 51, 23);
	color: #fff;
	text-align:center;
}